.products {
  margin-top: 100px;
  /* width: 100%; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
  place-items: center;
}
@media only screen and (max-width: 409px) {
  .products {
    display: flex;
    flex-direction: column;
  }
}
