main {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;

  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  gap: 40px;
}

aside {
  /* height: 320px;
  width: 160px; */
  margin: 0 50px 0 50px;
}

.carousel {
  position: relative;

  aspect-ratio: 35 / 8;

  width: 1400px;
  /* background-color: #ffd166; */
  border-radius: 5px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  img {
    max-width: 100%;
    aspect-ratio: 35 / 8;

    height: auto;
  }

  /* height: auto; */
}

@media (max-width: 1400px) {
  .carousel {
    /* display: none; */
    width: 100%;
  }
}

/* @media only screen and (max-width: 802) {
  main {
    flex-direction: column;
    gap: 50px;
    aside {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 50%;
      }
    }
  }
} */

@media only screen and (max-width: 810px) {
  main {
    flex-direction: column;
    gap: 50px;
    aside {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 50%;
      }
    }
  }
}
