.purchased-items-page {
  margin-top: 100px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-to-cart-btn {
  background-color: black !important;
  margin-bottom: 10px !important;
}
.add-to-cart-btn:disabled,
.add-to-cart-btn[disabled] {
  color: white !important;
  background-color: gray !important;
}
.purchased-items-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
