.purchased-items-page {
  margin-top: 100px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.purchased-items-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
