.purchased-items-page {
  margin-top: 100px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-to-cart-btn {
  background-color: rgb(92, 88, 234) !important;
  height: min-content !important;
}
.add-to-cart-btn:disabled,
.add-to-cart-btn[disabled] {
  color: white !important;
  background-color: rgb(116, 114, 147) !important;
}
.purchased-items-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
